.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    padding: '0 50px',
}

.general-header {
    background-color: #0069a3;
}

.sider {
    border-right: 0;
}