@import "./scss/index.scss";

.styles {
    display: flex;
    flex-direction: column;
    margin: 2em;
    h1 {
        color: $primary-color;
        font-size: 4em;
    }
    p {
        color: $secondary-color;
        font-size: 1.5em;
    }
}

.card-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15em;
        height: 30%;
        background-color: $light-color;
        border-radius: 10px;
        padding: 1em;
        h2 {
            color: $primary-color;
            font-size: 2em;
        }
        p {
            color: $dark-color;
            font-size: 1em;
        }
    }
}