.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9edff;
}

.login-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}